.about-list {
  margin-left: var(--primary-margin-reverse);
  margin-top: var(--primary-margin-reverse);
  display: flex;
  flex-wrap: wrap;
}
.about-list__img {
  margin-left: var(--primary-margin);
  margin-top: var(--primary-margin);
  flex-basis: var(--flex-x3);
  position: relative;
}
.about__section {
  padding-top: 0;
  @media screen and (min-width: 1200px) {
    // width: 1200px;
    padding-top: 0;
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
