.horizontal-button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: auto;
  margin-bottom: 25px;
  &__box {
    margin-right: 8px;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
    & > &__box:last-child {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  &__button {
    font-weight: 500;
    font-size: var(--seconary-font-size);
    line-height: 1.63;
    text-align: center;
    background-color: var(--button-background-colour);
    cursor: pointer;
    border-radius: 4px;
    padding-left: var(--horizontal-button-horizontal-padding);
    padding-right: var(--horizontal-button-horizontal-padding);
    padding-top: var(--horizontal-button-vertical-padding);
    padding-bottom: var(--horizontal-button-vertical-padding);
    border: none;
    transition: color var(--anim-d) var(--anim-t),
      background-color var(--anim-d) var(--anim-t),
      box-shadow var(--anim-d) var(--anim-t);
    &:hover,
    &:focus {
      color: var(--dark-text-colour);
      background-color: var(--focus-colour);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
