.command-card {
  margin-left: var(--primary-margin);
  margin-top: var(--primary-margin);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  width: 100%;
  @media screen and (min-width: 480px) {
    // width: 450px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: var(--flex-x2);
    // width: 354px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: var(--flex-x4);
    // width: 270px;
  }
}

.command-card__title {
  padding: 30px;
}

.command-card__name,
.command-card__about {
  font-size: var(--seconary-font-size);
  text-align: center;
}

.command-card__name {
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}

.command-card__about {
  line-height: 1.19;
  color: var(--seconary-colour);
  margin-bottom: 16px;
}

.command-card__social-list {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 206px;

  @media screen and (min-width: 480px) {
    width: 206px;
  }
}

.command-card_social-icon {
  fill: var(--tripple-colour);
}

.command-card__social-icon-background {
  background-color: var(--dark-text-colour);
}
