.section {
  padding-top: var(--padding-section-m-t);
  padding-bottom: var(--padding-section-m-t);

  @media screen and (min-width: 1200px) {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
  }
}
